@import "../../style/style";
.heading {
  font-weight: 600;
  color: $deep-accent-color;
}
.loginCard {
  background-color: $light-accent-color !important;
  border: none !important;
}
.login-icon {
  font-size: 30px;
  fill: $deep-accent-color;
}
.form-title {
  color: $deep-accent-color;
  font-weight: 600;
}
.login-link {
  text-decoration: none;
  color: $deep-accent-color;
  &:hover{
    text-decoration: none;
    color: $accent-color;
  }
}

.form-control {
    border:solid $accent-color 1px !important;
    font-style: italic;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $accent-color !important;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $accent-color !important;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $accent-color !important;
  }
}

.btn{
    background-color: $deep-accent-color !important;
    border:none !important;
    font-weight: 400 ;
    &:hover{
        background-color: $accent-color !important;
    }
}
.left{
    height:90%;
}
.right{
    height: 85%;
}
.form-check{
  color:$deep-accent-color !important;
  input{
    background-color: $deep-accent-color !important;
    border:none !important;
  }
}