.number-change{
    background-color: rgb(209, 209, 209) !important;
    color: black !important;
}
.cart-item{
    border-top: solid 2px rgb(209, 209, 209);
}
.checkout-button{
    background-color: black !important;
    color:white !important;
}
main{
    min-height: 100vh !important;
}
.checkout-bar{
    position:sticky;
    top: 72px;
}