@import "../../../style/style";

.item-card{
    border:none;
    width: 12rem;
    &:hover{
        width: 12.04rem;
        @include box-shadow;
    }
}
.span-texts{
    display: flex;
    flex-direction: column;
}