@import "../../style/_style.scss";

.center-space {
  @include flex-space-between;
}
.center {
  @include flex-center;
}
.header-socials {
  justify-content: flex-end;
  a {
    @include flex-center;
    color: $dark-color;
  }
}
.header-contact {
  justify-content: flex-start;
  a {
    color: $dark-color;
    text-decoration: none;
  }
}
.active {
  border-bottom: solid $accent-color 2px;
  color: #fff;
}

.cart-button{
    position: relative;
    .cart-badge{
        position:absolute;
        background-color: red;
        text-decoration: none;
        color:white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 12px;
        top: -5px;
        left:30px;
    }
}
