@import "../../style/style";
.add-to-cart {
  background-color: $background-color !important;
  border: solid 2px $dark-color !important;
  color: $dark-color !important;
}
.desc{
    font-size: 0.7rem;
}
main{
  min-height: 100vh;
}