@import "./style";

.center-space{
    @include flex-space-between;
}
.center{
    @include flex-center;
}
.end{
    @include flex-end;
}
.shelve{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}