@import "./style";

.center-space{
    @include flex-space-between;
}
.center{
    @include flex-center;
}
.end{
    @include flex-end;
}
.shelve{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}
.unauthorized{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd166;
}