@import "../../../style/style";

.card-header{
    background-color: $accent-color;
    
}

.items-container{
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;
    }
}
